a{
	text-decoration: none;
  color: black;
}                     
                       /* Header */
  /* Fondo del Header */
.fondoheader{
	background-image: url("../img/background/hero.jpg");
	background-size: cover;
	height: 650px;
}
.transbox{
  background-color: black;
  opacity: .1;
  height: 650px;
}
/* Menu */
.menu{
	display: inline;
}
/* Seccion3 6 iconos azules */

/* Seccion3 Fondo gris */
.fondogris{
   background-color: gray;
}
/* Seccion4 mas iconos azules */


                 /* Portafolio */
 /* Menu del portafolio */
 li{
display: inline-block;
}
 /* Botones del menu */
button{
 height: 40px;
 width: 90px;
 background-color: white;
 border:none;
  /*box-shadow: none;*/
}
 button:hover{
 background-color: #1742FC;
 color: white;
 border-color: #1742FC; 
 height: 40px;
 }
 .pd-3{
  padding: 2%;
 } 

 /* Footer */
.bg-oscuro{
  background-color: #373737;
}